<template>
  <page-with-card
    :title="'Round ' + round"
    :width="(300 * round).toString() + 'px'"
  >
    <template v-slot:content>
      <q-card-section>
        <slider-with-header
          v-model:slider-value="predictedTricks"
          :maximum="round"
          badge-header="Predicted tricks"
          badgeTextColor="contrast-primary"
        />
        <slider-with-header
          v-model:slider-value="wonTricks"
          :maximum="round"
          badge-header="Won tricks"
          color="secondary"
        />
        <div class="q-py-md text-center">
          <q-btn
            color="primary"
            label="Submit Round"
            text-color="contrast-primary"
            @click=submitRound
          />
        </div>
        <div class="q-pt-md wizard-font text-center">
          points:
          {{ score }}
        </div>
      </q-card-section>
    </template>
  </page-with-card>
</template>

<script lang="ts">
import SliderWithHeader from 'src/components/SliderWithHeader.vue'
import { defineComponent, ref } from 'vue'
import PageWithCard from 'components/PageWithCard.vue'

/**
 * The home page allows to track the points collected in a game of a Wizard.
 * Every round the user can specify the number of tricks predicted and won in that round.
 * This is used to compute the points gained in that round.
 */
export default defineComponent(
  {
    components: { PageWithCard, SliderWithHeader },
    name: 'HomePage',

    setup () {
      return {
        /**
         * Number of the round currently played.
         */
        round: ref(1),

        /**
         * Number of tricks predicted in the round currently played.
         */
        predictedTricks: ref(0),

        /**
         * Number of tricks won in the round currently played.
         */
        wonTricks: ref(0),

        /**
         * Total sum of all points collected in all previous played rounds.
         */
        score: ref(0)
      }
    },

    methods: {
      /**
       * This method computes the number of points gained in the currently played round.
       * These points are added to the score (this.score).
       * A new round is started which includes
       * * incrementing the round number by one (this.round) and
       * * resetting the sliders (this.predictedTricks, this.wonTricks) to zero.
       */
      submitRound () {
        const difference = this.predictedTricks - this.wonTricks

        if (difference === 0) {
          this.score += 20
          this.score += this.wonTricks * 10
        } else {
          this.score -= 10 * Math.abs(difference)
        }

        this.predictedTricks = 0
        this.wonTricks = 0
        this.round++
      }
    }
  }
)
</script>
