<template>
  <page-with-card title="imprint" width="40rem">
    <template v-slot:content>
      <q-card-section>
        <div class="avatar-container">
          <q-img
            alt="Picture of Samuel Graf"
            src="~assets/Sammy.jpg"
            style="height: 100%; width: 100%;"
          />
        </div>
      </q-card-section>
      <q-card-section>
        <q-list>
          <list-item
            :icon="{ name: 'info', color: 'pastel-blue'}"
            :text="wizardPointCounterImprintInfo"
          />
          <list-item
            :icon="{ name: 'person', color: 'pastel-pink'}"
            text="Samuel Graf"
          />
          <list-item
            :icon="{ name: 'house', color: 'pastel-lavender'}"
            text="Wilhelmstraße 4, 35037 Marburg"
          />
          <list-item
            :icon="{ name: 'phone', color: 'pastel-orange'}"
            text="0157 36235154"
          />
          <list-item
            :icon="{ name: 'mail ', color: 'contrast-primary'}"
            href="mailto:wizard.point.counter@gmail.com"
            text="wizard.point.counter@gmail.com"
          />
          <list-item
            :icon="{ name: 'code', color: 'pastel-green'}"
            href="https://gitlab.com/Tzedakah/wizard-point-counter"
            text="Click here to dive into the public source code."
          />
        </q-list>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn
          color="primary"
          label="Go back Home"
          text-color="contrast-primary"
          to="/"
        />
      </q-card-actions>
    </template>
  </page-with-card>
</template>

<script lang="ts">

import PageWithCard from 'components/PageWithCard.vue'
import { defineComponent } from 'vue'
import ListItem from 'components/ListItem.vue'

/**
 * This page displays an imprint.
 * The imprint displays some generic information
 * about the project Wizard Point Counter and the responsible maintainer.
 */
export default defineComponent(
  {
    components: { ListItem, PageWithCard },
    name: 'ImprintPage',
    setup () {
      return {
        /**
         * A text providing some generic information
         * about the project Wizard Point Counter.
         * The text assumes that it is displayed above the contact details
         * of the person responsible for the project.
         */
        wizardPointCounterImprintInfo: 'This website is a hobby project! ' +
          'Any feedback and contributions are very welcome. ' +
          'Below you can find contact details of the responsible person.'
      }
    }
  }
)
</script>

<style scoped>
.avatar-container {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 3px solid var(--q-primary);
  border-radius: 50%;
  margin: 0 auto;
}
</style>
