<template>
  <q-item
    :clickable="href !== undefined"
    :href="href"
  >
    <q-item-section avatar v-if="icon">
      <q-icon :color="icon.color" :name="icon.name" />
    </q-item-section>
    <q-item-section v-if="text">
      <q-item-label>
        {{ text }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

/**
 * Represents an icon displayed on a <code>ListItem</code>.
 *
 * @property {string} name    {@link ListItemIcon#name}
 * @property {string} [color] {@link ListItemIcon#color}
 */
interface ListItemIcon {
  /**
   * The name of the icon as described in the
   * <a href=https://quasar.dev/vue-components/icon#naming-convention>
   *   quasar documentation
   * </a>.
   */
  name: string;

  /**
   * The color of the icon.
   * All colors from the
   * <a href=https://quasar.dev/style/color-palette>
   *   quasar color palette
   * </a>
   * can be specified.
   * Additionally, the {@link CustomColor}s can be used.
   * By default, white is used.
   */
  color?: string;
}

/**
 * This component defines a variation of a
 * <a href=https://quasar.dev/vue-components/list-and-list-items/>
 *   Quasar List Item
 * <a>.
 * This is the standard component used for list items
 * in the Wizard Point Counter.
 * A <code>ListItem</code> can contain text and an icon.
 * Furthermore, it can be configured to redirect the browser
 * to a specified address when clicked.
 */
export default defineComponent(
  {
    name: 'ListItem',

    props: {

      /**
       * If this property is defined, then the <code>ListItem</code>
       * redirects the browser to the specified address when clicked.
       */
      href: {
        type: String,
        required: false
      },

      /**
       * If this property is defined, then the icon specified by this property
       * is displayed on the <code>ListItem</code>.
       */
      icon: {
        type: Object as () => ListItemIcon,
        required: false
      },

      /**
       * If this property is defined, then the text specified by this property
       * is displayed on the <code>ListItem</code>.
       */
      text: {
        type: String,
        required: false
      }
    }
  }
)
</script>
