<template>
  <q-page class="flex flex-center">
    <q-card class="q-pa-lg q-ma-lg" :style="'width: ' + width">
      <q-card-section>
        <div class="wizard-font text-center">{{ title }}</div>
      </q-card-section>
      <slot name="content"></slot>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

/**
 * This component defines a page with a single centered card on it.
 *
 * @slot content: This slot is for the content of the card.
 *   The content needs no title, because the title is set separately
 *   by this component.
 */
export default defineComponent(
  {
    name: 'PageWithCard',

    props: {
      /**
       * The title displayed on the card.
       * The classic wizard font is used for this title.
       */
      title: {
        type: String,
        required: true
      },

      /**
       * The width of the card.
       * The syntax is the same as for the
       * <a href=https://developer.mozilla.org/en-US/docs/Web/CSS/width>
       *   css property width
       * </a>.
       * If no value is set, a (more or less) suitable default is used.
       */
      width: {
        type: String,
        required: false
      }
    }
  }
)
</script>
