<template>
  <div class="q-py-sm">
    <q-badge
      class="q-pa-sm"
      :color="color"
      :text-color="badgeTextColor"
      style="font-size: 1em"
    >
      {{ badgeHeader }}
    </q-badge>
    <q-slider
      :modelValue="sliderValue"
      :max="maximum"
      :color="color"
      marker-labels
      snap
      @change="$emit('update:sliderValue', $event)"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

/**
* This component consists of a slider and a badge as header for the slider.
*/
export default defineComponent(
  {
    name: 'SliderWithHeader',

    props: {

      /**
       * The current value of the slider.
       */
      sliderValue: {
        type: Number,
        required: true
      },

      /**
       * The maximum value of the slider.
       * The minimum value is always zero.
       */
      maximum: {
        type: Number,
        required: true
      },

      /**
       * The header of the slider displayed in a badge over the slider.
       */
      badgeHeader: {
        type: String,
        required: true
      },

      /**
       * Color of the badge and the slider button.
       */
      color: {
        type: String
      },

      /**
       * Color of the text in the badge.
       */
      badgeTextColor: {
        type: String
      }
    }
  }
)
</script>
