// app global css in SCSS form
@font-face {
  font-family: frances-unical;
  src: url(./fonts/Frances-Uncial.woff);
}

.wizard-font {
  font-family: 'frances-unical';
  font-size: 2em;
}

// Defines a color that contrasts the primary color of this app.
.text-contrast-primary {
  color: #FFE9AE !important;
}
.bg-contrast-primary {
  background: #FFE9AE !important;
}

// Defines the pastel blue of the brand of this app.
.text-pastel-blue {
  color: #B2E1F0 !important;
}
.bg-pastel-blue {
  background: #B2E1F0 !important;
}

// Defines the pastel pink of the brand of this app.
.text-pastel-pink {
  color: #FFB2C1 !important;
}
.bg-pastel-pink {
  background: #FFB2C1 !important;
}

// Defines the pastel lavender of the brand of this app.
.text-pastel-lavender {
  color: #D7B2E6 !important;
}
.bg-pastel-lavender {
  background: #D7B2E6 !important;
}

// Defines the pastel orange of the brand of this app.
.text-pastel-orange {
  color: #FFCAA4 !important;
}
.bg-pastel-orange {
  background: #FFCAA4 !important;
}

// Defines the pastel green of the brand of this app.
.text-pastel-green {
  color: #A8E6CE !important;
}
.bg-pastel-green {
  background: #A8E6CE !important;
}
